$purple: #421C52;
$fuschia: #732C7B;
$violet: #9C8AA5;
$violet_blue: #BDAEC6;

body, .pure-g [class *= "pure-u"] {
  font-family: "Open Sans", sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", serif;
  }
}

code {
  font-family: monospace;
}

a {
  color: $purple;

  &:visited {
    color: $violet_blue;
  }

  &:hover {
    color: $violet;
  }

  &:active {
    color: $violet_blue;
  }
}

.accessibly-hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.content-main {
  margin: 10px auto 0;
}