.menubar {
  .pure-menu-open {
    background: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,1));

    &.pure-menu-fixed {
      border: none;
    }
  }

  .pure-menu-heading {
    color: $purple;
    font-size: 110%;
  }

  .social-links {
    float: right;

    a:hover {
      background: none;
    }
  }
}