.post {
  padding: 20px;

  h2 {
    margin: .75em 0 .25em 0;
  }

  pre, code {
    background-color: #eee;
    border: 1px solid #bbb;
    padding: 5px;
  }

  pre code {
    background-color: none;
    border: none;
    padding: 0;
  }

  time {
    font-family: monospace;
    font-size: 85%;
    font-style: italic;
    color: #999;
  }
}