$header-width: 300px;

body {
  font-family: "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Futura, Helvetica, sans-serif;
}

header {
  position: fixed;
  width: $header-width;

  #header-content {
    padding: 10px;
  }
}

#content {
  margin-left: $header-width;
  padding: 10px;
}

.post {
  h2 {
    margin: .75em 0 .25em 0;
  }

  pre, code {
    background-color: #eee;
    border: 1px solid #bbb;
    padding: 5px;
  }

  pre code {
    background-color: none;
    border: none;
    padding: 0;
  }
}
